* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../res/felt-texture.jpg');
  background-repeat: repeat;
  background-size: cover;
  width: 99vw;
  height: 99vh;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.upper-row, .bottom-row {
display: flex;
justify-content: space-around;
align-items: center;
width: 1000px;
margin: 0;
padding: 0;
}

.upper-row {
  height: 305px;
}

.game-info {
  display: flex;
  align-items: start;
}

.archive-container {
display: flex;
justify-content: space-around;
width: 100%;
}

.game-status {
  width: 100%;  /* Or any fixed size you want */
  /* Other styling */
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.players-table {
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
  border-radius: 10px;  /* Rounded corners */
  margin-top: 10px;
  text-align: center;
}

.scores-table td {
  white-space: nowrap;
  padding: 0 10px;
}

.scores-table {
  display: block;
}

#player1-header, #player1-score,
#player2-header, #player2-score,
#player3-header, #player3-score {
  background-color: #D3D3D3; /* Color for the third column */
  border-radius: 10px;
}

.rounds-mises-table {
  background-color: rgba(255, 255, 255, 1); /* White with 50% opacity */
  border-radius: 10px;  /* Rounded corners */
  margin-top: 5px;
  margin-left: 22.5%;
  margin-right: 22.5%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.rounds-mises-table td {
  padding: 0;
  margin: 0;
  width: 42%;
  text-align: center;
}

.trick-cards-wrapper {
  min-height: 180px;  /* adjust as needed */
  width: 451px; /* Make it the same as game-status */
  position: relative;
  background-size: cover;
  border-radius: 25px;
  /* border: 5px solid black; */
  box-shadow: inset 0 0 10px #000, 0 0 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trick-cards {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.player-image {
border-radius: 50%;
border: 2px solid #2a9d8f;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.player-image-wrapper {
  position: relative;
}

.first-to-start-image {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  visibility: hidden;
  transform: rotate(45deg);
}

.player-bet {
  font-size: 24px;
  font-weight: bold;
}

.middle-row {
  display: block;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; /* or however much space you want */
}

/* Add styles for .player-left and .player-right */
.player-left {
  display: flex;
  flex-direction: column; /* Stack the images vertically */
  align-items: center; /* Align items horizontally center */
}

.player-right {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Align items horizontally center */
  margin-top: 10px; /* Add spacing between the images and the player-right content */
}

.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#choose-trump {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
  }

.trump-card-img {
  height: 100px; /* Adjust to match your design */
  width: auto; /* Maintain aspect ratio */
}

.trump-option {
  /* Adjust the width and height to match your card images */
  height: 100px;
  margin: auto;
  background-size: cover; /* This assumes you're using a background image for the card */
}

.trump-option.selected {
  /* border: 2px solid yellow; */
  /* box-sizing: border-box; */
  box-shadow: 0px 0px 10px 3px rgba(255, 215, 0, 0.9); 
}
  
.trump-card {
  /* width: 80px; */
  margin: 10px;
}  

.trick-card-img {
  height: 140px; /* Adjust to match your design */
  width: auto; /* Maintain aspect ratio */
}

#trick-cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trick-card {
  margin: 0 10px;
}

.trick-card.mainPlayer { 
  margin-top: 70px;
}
.trick-card-placeholder {
  /* Adjust the width and height to match your card images */
  width: 100px;
  height: 140px;
}

.card, .player1-zone, .player2-zone {
  margin: 0;
  padding: 0;
}  

/* Styles for the container of the cards */
.player-cards {
  /* position: relative;
  left: 0;
  width: max-content;
  overflow: visible; */
  display: flex;
  align-items: center;
}  

.player1-zone, .player2-zone {
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
  border-radius: 10px;  /* Rounded corners */
  display: grid;
  grid-template-rows: 1fr auto 1fr;  /* Divide the grid into 3 rows */
  grid-template-columns: 1fr;  /* Divide the grid into 1 column */
  position: relative;  
  width: 280px;  
  height: 200px;  
}  

.player-info {
  grid-row: 1 / 2;  /* Place in the first row */
  position: relative;
  /* background-color: lightblue; */
  display: flex;
  align-items: center; /* Align items horizontally center */
  /*margin-bottom: 20px; /* Add spacing between the images and the player-right content */
}


.player-cards {
  grid-row: 2 / 3;  /* Place in the second row */
  justify-self: center;  /* Center the content */
}    

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
}    

/* Styles for the individual cards */
.player-cards .card {
  height: 140px; /* Adjust to match your design */
  position: relative;
  /* float: left; */
  margin-right: -70px; /* Adjust for desired overlap */
  background-size: cover; /* This assumes you're using a background image for the card */
  flex-shrink: 0;
}    

.player-cards.main-player .card {
  transform: translateX(calc(24px * (var(--n) - 1)));
}    

/* Styles for the individual smaller cards */
.small-cards .card {
  height: 100px; /* Adjusted to 100px */
  position: relative;
  float: left;
  background-size: cover; /* This assumes you're using a background image for the card */
}  

.player-cards .card.greyed-out {
  filter: brightness(70%) saturate(70%);
  transition: filter 0.3s ease;
}

/* @keyframes animatedBorder {
  0% { outline-color: gold; }
  50% { outline-color: transparent; }
  100% { outline-color: gold; }
}

.player-cards .card.selected {
  outline: 2px solid gold;
  animation: animatedBorder 2.5s infinite;
} */

.player-cards .card.selected {
  /* background-color: yellow;  */
  /* outline: 3px solid yellow;  */
  box-shadow: 0px 0px 10px 3px rgba(255, 215, 0, 0.9); 
}  
  
/* Offset each card by 24px to the right of the previous card */
.player-cards .card:nth-child(n+2) {
  transform: translate3d(calc(24px * (var(--n) - 1)), 0, 0);
}  

#bet-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  

.bet-option {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}  

.bet-option.selected {
  background-color: yellow;
  box-shadow: 0px 0px 10px 3px rgba(255, 215, 0, 0.9); 
}  

.player3-zone {
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
  border-radius: 10px;  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 451px;
  height: 173px;
  margin-top: 10px;
}  
  
/* Update styles for .bottom-row */
.bottom-row {
  display: flex;
  justify-content: space-around; /* Distribute items evenly along the main axis */
}

.deck-container {
  width: 75px; /* Adjust the width and height based on your card dimensions */
  height: 105px;
  position: relative; /* Allows child elements to be positioned relative to this container */
  overflow: visible; /* Keeps the offset cards contained within the boundary */
  margin: 10px;
}

.empty-card {
  width: 66.67px; /* 2/3 of the height to maintain a 3:2 ratio */
  height: 100px; /* Example size, you can adjust as needed */
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
  border-radius: 5px;
  border: 2px dotted #787272; /* Dotted border */
}

.card-back {
  width: 66.67px; /* 2/3 of the height to maintain a 3:2 ratio */
  height: 100px; /* Example size, you can adjust as needed */
  position: absolute;
  right: 0; /* Aligns to the right */
  bottom: 0; /* Aligns to the bottom */
  background-image: url("../res/Card_back.svg");
  background-size: cover;
  background-position: center; /* Center the background */
  border-radius: 5px;
}

.card-back:nth-child(n+2) {
  transform: translate(-2px, -2px); /* Translates both X and Y */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Animated ellipsis */
@keyframes ellipsis {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.ellipsis span {
  animation-name: ellipsis;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ellipsis span:nth-child(2) {
  animation-delay: 1s;
}

.ellipsis span:nth-child(3) {
  animation-delay: 2s;
}

.game-controls {
  position: relative;
  overflow: visible;
  border-radius: 10px;  /* Rounded corners */
  width: 451px;
  height: 33px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.player-images {
  position: absolute;
  top: 0px;
  left: 2px;
  grid-column: 1;
  z-index: 0;
}

.player-stats {
  grid-column: 3;
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  z-index: 0;
}

.player3-stats {
  grid-column: 3;
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
  z-index: 0;
}

.game-controls-wrapper {
  position: relative;
  height: 33px;
}

.center-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* CSS */
.button-71 {
  margin: auto;
  height: 30px;
  width: 300px;

  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  text-align: center;
  /* transform: translateY(0); */
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translate(-50%, -55%);
}

.button-71:disabled {
  background-color: #ccc; /* Grayed out background */
  border: 1px solid #ccc; /* Grayed out border */
  color: #999; /* Grayed out text */
  cursor: not-allowed; /* Cursor indicating the button is disabled */
  box-shadow: none; /* Remove box shadow */
}

.button-71:disabled:hover {
  box-shadow: none; /* Remove hover box shadow */
  transform: translate(-50%, -50%);
}

.button-71.button-undo {
  background-color: #DA2526;
  border: 1px solid #DA2526;
}

